#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# JetBrains Editors
.idea/
*.sln.iml

# Composer - PHP Dependency Manager
vendor/

# Visual Studio Code
.vscode/

# PHPUnit Configuation and Cache
phpunit.xml
phpunit-*.xml
.phpunit.*.cache
